body {
  font-family: Arial, sans-serif;
  background-color: #0a192f;
  color: #ffffff;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  text-align: center;
  background-color: #172a45;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  width: 90%;
  max-width: 400px;
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.balance {
  font-size: 18px;
  margin-bottom: 20px;
  color: #ccd6f6;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}

.buttons button {
  padding: 10px 20px;
  background-color: #1f4068;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

.buttons button:hover {
  background-color: #2ecc71;
}

.dodep-container {
  display: flex;
  justify-content: center; /* Центрируем кнопку ДОДЕП */
}

#reset-balance {
  padding: 10px 20px;
  background-color: #e74c3c;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

#reset-balance:hover {
  background-color: #c0392b;
}

/* Модальные окна */
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background-color: #172a45;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.modal-content h2 {
  margin-bottom: 20px;
  color: #ff4d4d;
}

.modal-content button {
  padding: 10px 20px;
  background-color: #1f4068;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}

.modal-content img {
  max-width: 300px;
  max-height: 300px;
  border-radius: 10px;
}